<% if flash.has?(:message) %>
<div class="col-sm-12">
	<div class="alert alert-warning text-center" role="alert">
		<%= flash[:message] %>
	</div>
</div>
<% end %>

<div class="col-sm-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col">On Hand</th>
				<th scope="col">Need</th>
				<th scope="col">Locations</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each.with_index(1) do |item, index| %>
			<tr>
				<th scope="row"><a href="/items/<%= item.slug %>/edit"><%= item.name %></a></th>
				<td><%= item.total %></td>
				<td><%= item.under_amount %></td>
				<td><%= item.print_locations_links %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

