<% if flash.has?(:message) %>
<div class="col-sm-12">
	<div class="alert alert-warning text-center" role="alert">
		<%= flash[:message] %>
	</div>
</div>
<% end %>
<div class="col-sm-12">
	<a href="/items/new" class="btn btn-outline-secondary btn-block mb-3"><i class="fas fa-plus"></i> Item</a>
</div>


<div class="col-sm-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col">On Hand</th>
				<th scope="col">Need</th>
				<th scope="col">Locations</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each.with_index(1) do |item, index| %>
			<tr>
				<th scope="row"><a href="/items/<%= item.slug %>/edit" data-toggle="tooltip" data-placement="left" title="Assign Locations"><%= item.name %></a></th>
				<td><%= item.total %></td>
				<td><%= item.under_amount %></td>
				<td><%= item.print_locations(links: "index") %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
Tooltip on top
</button>