<div class="col-sm-8 offset-sm-2">
	<form action="/locations/<%= @location.slug %>" method="POST">
		<input type="hidden" name="_method" value="PATCH">
		<div class="form-row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="location_name">Location Name</label>
					<input type="text" name="location[name]" class="form-control" id="location_name" value="<%= @location.name %>">
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-sm-4 offset-sm-4">
				Count
			</div>
			<div class="col-sm-4">
				Par
			</div>

		</div>
		
		<% @items.each do |item| %>
		<div class="form-row">
			<div class="col">
				<div class="form-check form-check mb-2">
					<input type="checkbox" class="form-check-input" id="item_<%= item.id %>" value="<%= item.id %>" name="location[item_ids][]" <%= 'checked' if @location.item_ids.include?(item.id) %>>
					<label for="item_<%= item.id %>" class="form-check-label"><%= item.name %></label>
				</div>
			</div>

<%# --------------- item_count --------------- %>
			<div class="col">
				<input type="number" class="form-control" value="<%= item.item_count(@location) %>" name="location_items[][<%= item.li_id(item.id, @location.id) if item.li_id(item.id, @location.id)  %>][item_count]" <%= 'disabled' if !@location.item_ids.include?(item.id) %> step="any">
			</div>
<%# --------------- item_par --------------- %>			
			<div class="col">
				<input type="number" class="form-control" value="<%= item.item_par(@location) %>" name="location_items[][<%= item.li_id(item.id, @location.id) if item.li_id(item.id, @location.id) %>][item_par]" <%= 'disabled' if !@location.item_ids.include?(item.id) %> step="any">
			</div>

		</div>

		<% end %>

		<br>
		<input type="submit" class="btn btn-primary" value="Save">
	</form>
</div>

